img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
p {
  text-align: start;
}
.breed-select {
  margin: 10px auto;
  display: block;
  padding: 5px;
}
.cat-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  border: 2px solid #8d8d8d;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #8d8d8d;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
